.navbar{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(10, 10, 31);
}
.logo{
    position: absolute;
    
}
.logo img{
    width: 100%;
}
.home img{
    width: 100%;
}
.content{
    padding: 100px 30px 100px 30px;
    width: 100%;
}
.content .tittle-1{
    text-align: center;
    color: black;
    padding: 30px;
}
.submit-1{
    text-align: center;
    padding: 40px;

}
#submit{
    background: #04041b;
    color: white;
    border: 1px slid black;
    width: 300px;
    height: 40px;
}

.content-2{
    padding: 80px 0px 100px 0px;
    width: 100%;
    background: rgb(159, 188, 241);
    
}
.content-2 .tittle-2{
    text-align: center;
    color: black;
    padding: 30px;
}
.content-2 .images{
    padding: 10px 50px 10px 50px;
}

.content-3{
    padding: 80px 0px 100px 0px;
    width: 100%;
    background-image: url(3Hg2wQy.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.content-3 .tittle-3{
    text-align: center;
    color: white;
    padding: 30px;
}















/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

.cont{
    position: relative;
    text-align: center;
    
}  
.bottom{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-weight: bolder;
    color: white;
   
}
.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(255, 255, 0, 0.493);
    
}
  

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    grid-gap: 3px;
}
.grid img{
    width:100%;
}
.grid-2{
    justify-content: center;
    display: grid;
    grid-template-columns:30% 30% 30%;
    grid-gap: 20px;
}
.grid-2 img{
    width:100%;
}









@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}


@media(max-width: 750px){

    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-gap: 3px;
    }
    .grid img{
        width:100%;
    }
    
.content-2{
    padding: 10px 0px 10px 0px;
    width: 100%;
    background: rgb(159, 188, 241);
    
}
.content-2 .tittle-2{
    text-align: center;
    color: black;
    padding: 30px;
}
.content-2 .images{
    padding: 10px 5px 10px 5px;
}

.grid-2{
        justify-content: center;
        display: grid;
        grid-template-columns:100%;
        grid-gap: 20px;
    }
    .grid-2 img{
        width:100%;
    }

    .content-3{
        padding: 80px 0px 100px 0px;
        width: 100%;
        background-position: center;
    }
    .content-3 .tittle-3{
        text-align: center;
        color: white;
        padding: 30px;
        font-size: small;
    }
    



    .content{
        padding: 60px 0px 100px 0px;
    }
    .content .tittle-1{
        text-align: center;
        color: black;
        padding: 30px;
    }
    .submit-1{
        text-align: center;
        padding: 40px;
    
    }
    #submit{
        background: #04041b;
        color: white;
        border: 1px slid black;
        width: 300px;
        height: 40px;
    }
    
    .logo img{
        width: 50%;
    }

    .navbar{
        position: relative;
        width: 100%;
        height: 10%;
        background-color: rgb(10, 10, 31);
    }

    .bottom{
        font-size: x-small;
    }
    
  }
